html {
  cursor: url("/src/red.png"), default;
}

body {
  background-color: azure;
}

@media only screen and(max-width: 1400px) {
  .nav-bar {
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .ord {
    cursor: url("/src/red.png"), default;
  }
  .asc {
    cursor: url("/src/red.png"), default;
  }
  .dsc {
    cursor: url("/src/red.png"), default;
  }
  .slider {
    height: 10px;
    appearance: none;
    background-color: transparent;
    outline: none;
    width: 90px;
    cursor: url("/src/red.png"), default;
  }
  .slider::-webkit-slider-runnable-track {
    appearance: none;
    background-color: whitesmoke;
    height: 2px;
  }
  .slider::-webkit-slider-thumb {
    background: whitesmoke;
    appearance: none;
    height: 10px;
    margin-top: -4.5px;
    width: 10px;
    border-radius: 10px;
  }
  .time-taken {
    position: absolute;
    // border: 1px solid rgb(202, 202, 202);
    color: rgb(61, 61, 61);
    border-radius: 5px;
    padding: 8px;
    right: 0;
    left: 0;
    flex-direction: column;
    font-family: monospace, "Courier New", Courier;
    font-weight: 550;
    bottom: 35px;
    font-size: 0.7em;
  }
  .time {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding-top: 5px;
  }
  .delay {
    position: relative;
    margin: 0px 0px 0px 0px;
  }
  .text {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1em;
    color: rgb(255, 255, 255);
  }
}

@media only screen and(min-width: 1400px) {
  .nav-bar {
    height: 50px;
  }
  .reset {
    position: absolute;
    margin: 0px 0px 0px 100px;
    font-size: 1.4em;
    height: 50px;
    font-weight: 1000;
  }
  .slider {
    position: absolute;
    margin-left: 250px;
    // margin-top: 25px;
    left: 0;
    height: 100%;
    appearance: none;
    background-color: transparent;
    outline: none;
    cursor: url("/src/red.png"), default;
  }
  .slider::-webkit-slider-runnable-track {
    appearance: none;
    background-color: whitesmoke;
    height: 2px;
    cursor: url("/src/red.png"), default;
    // margin-top: -7.3px;
  }
  .slider::-webkit-slider-thumb {
    background: whitesmoke;
    appearance: none;
    height: 15px;
    margin-top: -7.3px;
    width: 15px;
    border-radius: 15px;
    align-items: center;
    cursor: url("/src/red.png"), default;
  }

  .ord {
    cursor: url("/src/red.png"), default;
    position: absolute;
    display: flex;
    margin-left: 420px;
    height: 50px;
    top: 17px;
  }
  .asc {
    font-size: 1.2em;
    cursor: url("/src/red.png"), default;
  }
  #dscc {
    margin-left: 30px;
  }
  .dsc {
    font-size: 1.2em;
    cursor: url("/src/red.png"), default;
  }
  .merge {
    height: 100%;
    font-weight: 1000;
    margin: 0px 700px 0px 0px;
    font-size: 1.4em;
    position: absolute;
  }
  .quick {
    position: absolute;
    font-size: 1.4em;
    height: 100%;
    font-weight: 1000;
    margin: 0px 570px 0px 0px;
  }
  .bubble {
    right: 0;
    position: absolute;
    margin: 0px 420px 0px 0px;
    font-size: 1.4em;
    height: 100%;
    font-weight: 1000;
  }
  .heap {
    right: 0;
    position: absolute;
    margin: 0px 290px 0px 0px;
    font-size: 1.4em;
    height: 100%;
    font-weight: 1000;
  }
  .insertion {
    right: 0;
    position: absolute;
    margin: 0px 120px 0px 0px;
    height: 100%;
    font-size: 1.4em;
    font-weight: 1000;
  }
  .delay {
    margin: 0;
  }
  .time-taken {
    border: 1px solid rgb(168, 168, 168);
    color: rgb(61, 61, 61);
    border-radius: 5px;
    height: 40px;
    padding: 8px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: monospace, "Courier New", Courier, monospace;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 10px;
  }
  .time {
    position: absolute;
    margin: 0;
    margin-top: 20px;
  }

  .text {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
  }
}
.slider:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.nav-bar {
  position: relative;
  background-color: rgb(51, 51, 51);
}
.reset {
  cursor: url("/src/red.png"), default;
  text-align: center;
  left: 0;
  align-content: center;
  color: rgb(255, 255, 255);

  align-items: center;
  border-radius: 0px;
  border-width: 0px;
  outline: none;
  /* border-right: 1px rgb(179, 179, 179) solid; */
  font-family: monospace;
  /* padding-right: 20px; */
  background-color: transparent;
}
.reset:hover {
  color: rgb(255, 30, 30);
  transition: all 0.1s;
}
.reset:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}

.s-reset {
  cursor: url("/src/red.png"), default;
  text-align: center;
  left: 150px;
  color: rgb(255, 255, 255);
  position: absolute;
  margin: 0px 0px 0px 150px;
  font-size: 1.4em;
  border-radius: 0px;
  border-width: 0px;

  outline: none;
  font-family: monospace;
  height: 100%;
  background-color: transparent;
  font-weight: 1000;
}
.s-reset:hover {
  color: rgb(255, 30, 30);
  transition: all 0.1s;
}
.ord {
  color: white;
  cursor: url("/src/red.png"), default;
  border-radius: 0px;
  border-color: black;
  border-width: 0px;
  outline: none;
  font-family: monospace;
  background-color: transparent;
}
.ord:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.asc:disabled {
  cursor: not-allowed;
}
.dsc:disabled {
  cursor: not-allowed;
}
.dscc:disabled {
  cursor: not-allowed;
}

.merge {
  color: white;
  cursor: url("/src/red.png"), default;
  right: 0;

  border-radius: 0px;
  border-color: black;
  border-width: 0px;
  outline: none;
  font-family: monospace;

  background-color: transparent;
}
.merge:hover {
  color: aqua;
}
.merge:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}
.quick {
  color: white;
  cursor: url("/src/red.png"), default;
  right: 0;
  border-radius: 0px;
  border-color: black;
  border-width: 0px;
  outline: none;
  font-family: monospace;

  background-color: transparent;
}
.quick:hover {
  color: aqua;
}
.quick:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}
.bubble {
  color: white;
  cursor: url("/src/red.png"), default;
  border-radius: 0px;
  border-width: 0px;
  outline: none;
  font-family: monospace;
  background-color: transparent;
}
.bubble:hover {
  color: aqua;
}
.bubble:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}
.heap {
  color: white;
  cursor: url("/src/red.png"), default;
  border-radius: 0px;
  border-color: black;
  border-width: 0px;
  outline: none;
  font-family: monospace;
  background-color: transparent;
}
.heap:hover {
  color: aqua;
}
.heap:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}
.insertion {
  color: white;
  cursor: url("/src/red.png"), default;

  border-radius: 0px;
  border-width: 0px;
  outline: none;
  font-family: monospace;

  background-color: transparent;
}

.insertion:hover {
  color: aqua;
}
.insertion:disabled {
  cursor: not-allowed;
  color: rgb(163, 163, 163);
}
.insertion::selection {
  color: aqua;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: inherit;
}

.array-bars {
  margin: 0px 1px;
  background-color: turquoise;
}

.down-bar {
  position: fixed;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 0;
  background-color: rgb(42, 42, 42);
  width: 100%;
}
.text:hover {
  cursor: url("/src/red.png"), default;
  transition: all 0.1s;
  transform: scale(1.005);
  color: rgb(255, 196, 196);

  /* color: #ff00ea; */
}
